.AppIcon {
	width: 250px;
	float: left;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	cursor: pointer;
}

.AppIcon img {
	border-radius: 57px;
	border: solid 5px white;
}

.AppIcon img:hover {
	border-color: red;
}