#Menu {
	background-color: #4D394B;
	float: left;
	width: 350px;
	height: 100%;
	font-family: "Lato";
}

#Menu-logo {
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	padding-top: 10px;
	color: white;
}

#Menu ul {
	background-color: blue;
	list-style-type: none;
	padding: 0;
	padding-left: 10px;
	margin: 0;
}