#Menu {
	background-color: #4D394B;
	float: left;
	width: 350px;
	height: 100%;
	font-family: "Lato";
	color: #AB9BA9;	
	font-size: 20px;	
}

#Menu-logo {
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-left: 18px;
	color: white;
}

#Menu-logo img {
	width: 250px;
}

#Menu-browse {
	cursor: pointer;
}

#Menu h2 {
	padding-left: 20px;
	text-transform: uppercase;
	font-size: .8rem;
}

#Menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	color: #AB9BA9;
}
#Menu li {
	padding-left: 20px;
	height: 1.75rem;
	cursor: pointer;
}

li#Menu-browse {
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: 20px 3px;
	padding-left: 43px;
	background-image: url('/assets/ui/market.svg');
}

#Menu-browse.selected, #Menu-browse:hover {
	background-image: url('/assets/ui/market-selected.svg');
}

#Menu li:hover, #Menu li.selected {
	background-color: #4C9689;
	color: white;
}